* {
    box-sizing: border-box;
    background-color: hsl(244, 60%, 10%);
    padding: 0;
    margin: 0;
}

/* ----------navigation section------------ */
header,
.site-name,
.nav-items,
.nav-items li,
.nav-items li a {
    background-color: hsl(244, 60%, 85%);
}

.site-name {
    color: hsl(244, 60%, 10%);
    margin-right: auto;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    /* border: 1px solid hsl(244, 60%, 10%); */
    position: fixed;
    width: 100%;
}

.nav-items {
    list-style-type: none;
    padding: 0px 20px;
}

.nav-items li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-items li a {
    color: hsl(244, 60%, 10%);
    text-decoration: none;
}