<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'mainSite/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Code-apy</title>
</head>
<body>
    <script src="index.js"></script>
    <header>
        <h1 class="site-name"><a href="/home">Code-<span>apy</span></a></h1>
        <nav class="nav-items">
            <span class="lang"><a href="/languages">Languages</a></span>
            <span class="cs"><a href="/cheatsheet">Cheat Sheet</a></span>
            <span class="about"><a href="#">About</a></span>
        </nav>
    </header>
    <div class="main main_login">
        <div class="login_form">
            <h2>Log In</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="login_btn" type="submit">Log In</button>
            </form>
        </div>
    </div>

</body>
</html>


