<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'mainSite/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Code-apy</title>
</head>
<body>
    <header>
        <h1 class="site-name"><a href="/home">Code-<span>apy</span></a></h1>
        <nav class="nav-items">
            <span><a href="/languages">Languages</a></span>
            <span><a href="/cheatsheet">Cheat Sheet</a></span>
            {% if user.is_authenticated %}
            <span><a href="{% url 'logout' %}">Log Out</a></span>
                    {% else %}
                         <span><a href="{% url 'login' %}">Log In</a></span>
                         <span><a href="/accounts/signup">Sign up</a></span>
                    {% endif %}
        </nav>
    </header>
    <div class="main main_homepage">
        <div class="banner_homepage">
            <div class="banner_statement">
                {% if user.is_authenticated %}
                    <div class="list_homepage">
                        <div class="greeting">
                            <img class="hand_img" src="{% static 'mainSite/images/hand.png' %}">
                            <h1 class= "list_title">Hi {{ user.username }}, Lets get started!</h1>
                        </div>
                        <h2 class="list_title" id="homepage_prompt">Please choose from one of these languages:</h2>
                        <div class="list">
                            {% if modules_list %}
                            <ul>
                            {% for module in modules_list %}
                                <li><a href="/languages/{{ module.title }}/">{{ module.title }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>No modules are available.</p>
                        {% endif %}
                        </div>
                    </div>
                      {% else %}
                    <h1>Confused on basic programming concepts?</h1>
                <p>We have explanations on basic C++, Java, and Python concepts!</p>
            </div>
            <img class="main_element" src="{% static 'mainSite/images/homepage_g.png' %}">
     
        </div>
        <div class ="web-descriptions">
            <img class="head" src="{% static 'mainSite/images/head.png' %}">
            <img class="threeWay" src="{% static 'mainSite/images/threeWay.png' %}">
            <img class="bridge" src="{% static 'mainSite/images/bridge.png' %}">
        </div>
        {% endif %}
        <!--<div class="banner_image">
            <img src="{% static 'mainSite/images/homepage_g.png' %}">
        </div>-->
    </div>

</body>
</html>

